/****************************
****  GENERAL SETTINGS  ****
****************************/


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Condensed:wght@300;400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    --highlightColor:#009bb0;
    --footerBgColor:#3b5491;
    --footerTxtColor: #999;
    --textColor:#444;
    --headerFont:'Oswald', sans-serif;
    --contentFont:'Roboto Condensed', sans-serif;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: var(--bgColor);
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--highlightColor);
}
ul{
    list-style: none;
}